@import '../../sass/colors.scss';

footer {
    background: $color-blue;

    .footer-logo {
        margin-top: 100px;  // Daha küçük margin
        margin-bottom: 20px;  // Daha küçük margin
    }

    .social-logo {
        p {
            font-size: 10px;  // Font boyutunu küçük tutarak daha az alan kaplar
            text-transform: uppercase;
            font-weight: 600;
            color: $color-black;
        }

        ul {
            margin-bottom: 0;
            padding: 0;

            li {
                list-style: none;
                display: inline-block;
                
                a {
                    color: $color-black;
                    margin-right: 8px; // Daha küçük margin
                }
            }
        }
    }

    .footer-link {
        p {
            text-transform: uppercase;
            font-weight: 600;
            color: $color-black;
            margin-top: 10px;  // Daha küçük margin
            margin-bottom: 5px;
        }

        ul {
            padding: 0;
            margin: 0;
            font-weight: 500;

            li {
                list-style: none;
                margin-bottom: 8px; // Daha küçük margin

                a {
                    text-decoration: none;
                    color: $color-black;
                    font-size: 14px;  // Daha küçük font
                }
            }
        }
    }

    .footer-contact {
        p {
            text-transform: uppercase;
            color: $color-black;
            margin-top: 30px;  // Daha küçük margin
            margin-bottom: 20px;
        }
    }

    .contact-list {
        display: flex;
        align-items: center;
        margin-top: 10px;

        .contact-icon {
            background: $color-white;
            width: 45px;  // Daha küçük ikon
            height: 45px;
            line-height: 45px;
            border-radius: 15px;
            position: relative;
            z-index: 0;
            text-align: center;

            &::before {
                position: absolute;
                content: '';
                width: 60px;  // Daha küçük önceden daha büyük bir boyut vardı
                height: 60px;
                background: $color-white;
                top: -8px;
                left: -8px;
                z-index: -1;
                opacity: .3;
                border-radius: 15px;
            }

            img {
                max-width: 40px;  // Daha küçük ikon
            }
        }

        .contact-text-block {
            margin-left: 20px;  // Daha küçük margin
            margin-bottom: 20px;  // Daha küçük margin
        
            p {
                font-size: 11px;  // Daha küçük font boyutu
                margin-bottom: 5px;
                text-transform: capitalize;
                font-weight: 500;
                line-height: 1.2;
            }

            h5 {
                color: $color-black;
                font-size: 14px;  // Daha küçük font boyutu
            }
        }
    }

    .copyright-area {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 40px; // Daha küçük margin

        .copy-text {
            p {
                margin-bottom: 0;
                color: $color-black;
            }
        }

        .copy-links {
            ul {
                li {
                    display: inline-block;
                    margin-left: 15px;  // Daha küçük margin

                    a {
                        color: $color-black;
                        text-decoration: none;
                    }
                }
            }
        }
    }
}

// Mobile Responsive
@media (max-width:575px){
    footer {
        .contact-list {
            margin-bottom: 5px;  // Daha küçük margin

            .contact-icon {
                width: 40px;  // Küçük ikon boyutu
                height: 40px;
                line-height: 40px;
                border-radius: 10px;

                &::before {
                    width: 50px;  // Daha küçük boyut
                    height: 50px;
                    top: -6px;
                    left: -6px;
                    border-radius: 12px;
                }
            }
        }
    }
}
