.sidebar {
    width: 250px;
    height: 100vh; // Boyut, sayfa boyuna eşit
    background-color: #f4f4f4;
    display: flex;
    flex-direction: column;
    padding: 20px;
  }
  
  .sidebar-header {
    display: flex;
    align-items: center;
    padding-bottom: 20px;
  }
  
  .home-button {
    background: none; // İç boş olacak
    color: #333;
    border: 2px solid #333; // Çerçeve
    border-radius: 20px;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    font-size: 18px;
    transition: all 0.3s ease;
  }
  
  .home-button:hover {
    background-color: #ddd; // Hover etkisi
  }
  
  .home-icon {
    margin-right: 10px;
    filter: grayscale(100%); // Siyah-beyaz ikon
  }
  
  .profile-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;
  }
  
  .profile-image {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    overflow: hidden;
    margin-bottom: 10px;
  }
  
  .profile-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .user-name {
    font-size: 16px;
    font-weight: bold; // Ad Soyad daha kalın
    margin-bottom: 5px;
  }
  
  .user-role {
    font-size: 14px;
    color: #555;
  }
  
  .sidebar-links {
    flex-grow: 1;
  }
  
  .sidebar-links ul {
    list-style: none;
    padding: 0;
  }
  
  .sidebar-links li {
    margin-bottom: 20px;
  }
  
  .sidebar-links a {
    text-decoration: none;
    color: #333;
    font-size: 16px;
    display: flex;
    align-items: center;
    padding: 10px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
  }
  
  .sidebar-links a:hover {
    background-color: #ddd;
  }
  
  .icon {
    margin-right: 10px;
    filter: grayscale(100%); // Siyah-beyaz ikon
  }
  
  .sidebar-links a {
    text-decoration: none;
    color: #333;
    font-size: 16px;
    display: flex;
    align-items: center;
    padding: 10px;
    border-radius: 5px;
    transition: background-color 0.3s ease, color 0.3s ease;
  
    &.active {
      background-color: #0590d4; /* Blue color for active link */
      color: #fff; /* White text for active link */
      pointer-events: none; /* Prevent unnecessary hover effect on active */
    }
  
    &:hover:not(.active) {
      background-color: #ddd; /* Gray hover effect for non-active links */
      color: #333;
    }
  }