@import '../../sass/colors.scss';

.service-section {
    .service-title-text {
        padding-top: 50px;
        max-width: 600px;
        margin: 0 0 0 auto;
        font-weight: 500;
    }

    .services-link {
        margin: 50px 0 30px;

        button {
            color: $color-blue; // Buton metni rengi
            text-decoration: none;
            font-weight: 700;
            background: #583fbc1e; // Arka plan rengi
            padding: 15px 25px; // İç boşluk
            display: inline-block;
            border-radius: 15px; // Köşe yuvarlama
            border: none; // Kenarlıkları kaldır

            svg {
                margin-left: 10px;
                font-size: 20px;
                top: -2px;
                position: relative;
            }

            &:hover {
                background-color: $color-blue; // Hover rengini aktif etmek
                color: #fff; // Hover'da yazı rengini beyaz yap
                cursor: pointer;
            }
        }
    }
}

// Mobile Responsive
@media (max-width: 575px){
    .service-section {
        .service-title-text {
            padding-top: 0;
            margin-bottom: 10px;
        }
    }
}

@media (min-width: 576px) and (max-width: 767px) {
    .service-section {
        .service-title-text {
            padding-top: 0;
            margin-bottom: 30px;
        }
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .service-section {
        .service-title-text {
            padding-top: 0;
            margin-bottom: 30px;
        }
    }
}
