body {
    background-color: gray;
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

#logo-div {
    order: 2;
}

.container {
    display: grid;
    grid-template-columns: 0.5fr 0.5fr 5fr 1.5fr 0.5fr;
}

#content-div {
    order: 3;
}

#button-div {
    order: 4;
}