/* Hover Effect for Buttons */
button.btn-primary {
    background-color: #0590D4;
    color: #fff;
    border: none; /* Ensure no borders cause expansion */
    transition: background-color 0.3s ease, color 0.3s ease, box-shadow 0.3s ease;
}

button.btn-primary:hover {
    background-color: #fff;
    color: #0590D4;
    box-shadow: 0 0 0 2px #0590D4 inset; /* Adds an inner border effect */
}